:root {
	--primary-color: #3498db;
	--button-color: #129460;
	--font-size: 16px;
	--padding: 10px;
  }
  

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: black;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}

nav {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background: rgb(5, 5, 5);
	color: white;
	padding: 1rem ;
	background: linear-gradient(90deg, rgba(5, 5, 5, 1) 42%, rgba(99, 107, 108, 1) 100%);
}

#logo {
	display: flex;
	justify-content: start;
	gap: 1rem;
	align-items: center;
}

#logo p {
	font-size: 1.5rem;

}

.nav-div {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 1rem;
}

.search-container {
	display: flex;
	align-items: center;
	justify-content: end;
	color: var(--button-color)	;
	
}

.search-wrapper {
	padding: 0.5rem 1rem;
	background-color: white;
	border-radius: 1.2rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.search-wrapper input {
	outline: none;
	border: none;
	width: 50%;
	color: inherit;
}

.search-wrapper input::placeholder {
	color: inherit
}

.search-bttns button {
	background-color: var(--button-color);
	border: none;
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
}